{% extends "tasksApp/base.html" %}

{% block title %}New solutions for {{ task.name }}{% endblock %}
{% block title2 %}New solutions for {{ task.name }}{% endblock %}
{% block title3 %}New solutions for {{ task.name }}{% endblock %}

{% block backButton %}
<ul class="left">
    <li><a href="javascript:window.location.replace(document.referrer)">
        <i class="material-icons">arrow_back</i></a></li>
</ul>
{% endblock %}

{% block content %}

<!-- solutionAdd -->
<div class="container" style="margin-top:50px;">
    <form id="solutionAddForm" action="{% url 'SolutionAddAmount' task %}" method="post">
       {% csrf_token %}

        <div class="input-field row">
            <div class="input-field col s12">
                <input type="number" id="amount" name="amount" class="materialize-textarea" value="1">
                <label for="amount" class="active">Number of solutions to be created</label>
            </div>
        </div>
    </form>


    <button class="btn waves-effect waves-light" type="submit" form="solutionAddForm" name="action"
            onclick="return">Submit
        <i class="material-icons right">send</i>
    </button>

</div>


{% endblock %}

{% block script %}

function toast() {
Materialize.toast('Added solution', 3000, 'rounded')
}

$('.datepicker').pickadate({selectMonths: true,  selectYears: 15  });

$(document).ready(function () {
$('select').material_select(); });

{% endblock %}