{% extends "tasksApp/base.html" %}

{% block title %}Editing check: {{ check.name }}{% endblock %}
{% block title2 %}Editing check: {{ check.name }}{% endblock %}
{% block title3 %}Editing check: {{ check.name }}{% endblock %}

{% block backButton %}
<ul class="left">
    <li><a href="javascript:window.location.replace(document.referrer)">
        <i class="material-icons">arrow_back</i></a></li>
</ul>
{% endblock %}

{% block content %}

<div class="container" style="margin-top:50px;">
    <form class="col s12" id="editcheckForm" action="{% url 'checkUpdate' task.id check.id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <input type="text" name="name" id="name" class="validate" value="{{ check.name }}"/>
                <label for="name">Name</label>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea validate">{{ check.description }}</textarea>
                <label for="description">Description</label>
            </div>
        </div>
    </form>

    <button class="btn waves-effect waves-light" type="submit" form="editcheckForm" name="action"
            onclick="return toast();">Accept
        <i class="material-icons right">mode_edit</i>
    </button>
</div>
{% endblock %}


{% block script %}

function toast() {
Materialize.toast('Edited check', 3000, 'rounded')
}

{% endblock %}
